/*Orbitor CSS Start*/

.orbit {
  display: grid;
  align-items: center;
  min-height: 400px;
}

.center-container {
  position: relative; /* Allows for absolute positioning within */
  justify-content: center;
}

/* Central body */
.center-circle {
  width: 217px; /* Diameter of the inner circle */
  height: 217px;
  border-radius: 50%; /* Creates the circle shape */
}

/* Orbit ring (outer circle) */
.orbit-ring {
  width: 270px; /* Diameter of the outer orbit */
  height: 270px;
  border: 2px solid aqua; /* Creates the thin line for the orbit */
  border-radius: 50%; /* Ensures the outer circle is round */
  position: absolute; /* Absolute positioning within the container */
  top: -27px;
}

.orbit1-circle,
.orbit2-circle,
.orbit3-circle,
.orbit4-circle {
  position: absolute;
  left: 115px;
  top: 115px;
  background: black;
}

.orbit1-circle {
  animation: orbit1 15s infinite linear; /* Orbit animation */
}

.orbit2-circle {
  animation: orbit2 15s infinite linear; /* Orbit animation */
}

.orbit3-circle {
  animation: orbit3 15s infinite linear; /* Orbit animation */
}

.orbit4-circle {
  animation: orbit4 15s infinite linear; /* Orbit animation */
}

/* Animation for orbiting */
@keyframes orbit1 {
  from {
    transform: rotate(0deg) translateX(135px);
  }

  to {
    transform: rotate(360deg) translateX(135px) rotate(-360deg);
  }
}

@keyframes orbit2 {
  from {
    transform: rotate(0deg) translateY(-135px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateY(-135px) rotate(-360deg);
  }
}

@keyframes orbit3 {
  from {
    transform: rotate(0deg) translateX(-135px);
  }

  to {
    transform: rotate(360deg) translateX(-135px) rotate(-360deg);
  }
}

@keyframes orbit4 {
  from {
    transform: rotate(0deg) translateY(135px);
  }

  to {
    transform: rotate(360deg) translateY(135px) rotate(-360deg);
  }
}

.orbit-ring:hover .orbit1-circle,
.orbit-ring:hover .orbit2-circle,
.orbit-ring:hover .orbit3-circle,
.orbit-ring:hover .orbit4-circle {
  animation-play-state: paused;
}

/*Orbitor CSS End*/
