.main {
  background-color: black;
}
.main1 {
  color: aqua;
  width: 100vw;
  height: 90vh;
}
.objective {
  display: grid;
  place-content: center;
}
.orbit {
  display: grid;
  place-content: center;
}
@media screen and (max-width: 330px) {
  .avtar {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 519px) {
  .avtarWhite {
    width: 250px !important;
    height: 250px !important;
  }
}
@media screen and (max-width: 519px) {
  .avtarColor {
    width: 160px !important;
    height: 240px !important;
    margin-top: -12.2em !important;
  }
}
@media screen and (max-width: 475px) {
  .avtarWhite {
    width: 220px !important;
    height: 220px !important;
  }
}
@media screen and (max-width: 475px) {
  .avtarColor {
    width: 140px !important;
    height: 210px !important;
    margin-top: -10.7em !important;
  }
}
@media screen and (max-width: 381px) {
  .avtarWhite {
    width: 190px !important;
    height: 190px !important;
  }
}
@media screen and (max-width: 381px) {
  .avtarColor {
    width: 120px !important;
    height: 185px !important;
    margin-top: -9.4em !important;
  }
}
.avtar {
  justify-content: center !important;
}

.appbar {
  color: aqua !important;
}
.main2 {
  background-color: cornsilk;
}
.about {
  font-size: clamp(0.8rem, 1.5rem, 2rem) !important;
}
.about span {
  color: brown;
  font-style: italic;
}

.skills ul li span {
  color: red;
  font-weight: 700;
}
.skills ul li {
  font-size: larger;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: justify;
  margin-top: 10px;
}
.footerText {
  color: white;
}

.footer {
  background-color: black;
  color: #61dafb;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (max-width: 600px) {
  .footerLink {
    margin-left: 50;
  }
}

.center-container {
  position: relative; /* Allows for absolute positioning within */
}

/* Central body */
.center-circle {
  width: 217px; /* Diameter of the inner circle */
  height: 217px;
  border-radius: 50%; /* Creates the circle shape */
}

/* Orbit ring (outer circle) */
.orbit-ring {
  width: 270px; /* Diameter of the outer orbit */
  height: 270px;
  border: 2px solid white; /* Creates the thin line for the orbit */
  border-radius: 50%; /* Ensures the outer circle is round */
  position: absolute; /* Absolute positioning within the container */
  top: -27px;
  left: -27px;
}

.orbit1-circle {
  position: absolute;
  animation: orbit1 15s infinite linear; /* Orbit animation */
  left: 115px;
  top: 115px;
}

.orbit2-circle {
  position: absolute;
  animation: orbit2 15s infinite linear; /* Orbit animation */
  left: 115px;
  top: 115px;
}

.orbit3-circle {
  position: absolute;
  animation: orbit3 15s infinite linear; /* Orbit animation */
  left: 115px;
  top: 115px;
}

.orbit4-circle {
  position: absolute;
  animation: orbit4 15s infinite linear; /* Orbit animation */
  left: 115px;
  top: 115px;
}

/* Animation for orbiting */
@keyframes orbit1 {
  from {
    transform: rotate(0deg) translateX(135px);
  }

  to {
    transform: rotate(360deg) translateX(135px);
  }
}

@keyframes orbit2 {
  from {
    transform: rotate(0deg) translateY(-135px);
  }

  to {
    transform: rotate(360deg) translateY(-135px);
  }
}

@keyframes orbit3 {
  from {
    transform: rotate(0deg) translateX(-135px);
  }

  to {
    transform: rotate(360deg) translateX(-135px);
  }
}

@keyframes orbit4 {
  from {
    transform: rotate(0deg) translateY(135px);
  }

  to {
    transform: rotate(360deg) translateY(135px);
  }
}

.contactBackground {
  background-image: linear-gradient(wheat, pink, gray);
}

.decorative {
  margin: 0px 14px 0px 14px !important;
  text-align: start !important;
}

.hu {
  display: grid;
  background-color: bisque;
}

.headingSpan {
  color: red;
}

.contentSpan {
  color: black;
}

.qualificationCardHandler {
  margin-bottom: 16px !important;
  padding-left: 0 !important;
  display: flex !important;
  justify-content: center !important;
}
