.main {
  background-color: black;
  height: 100vh;
}
.main1 {
  color: aqua;
}
@media screen and (max-width: 330px) {
  .avtar {
    font-size: 14px !important;
  }
}
.avtar {
  justify-content: center !important;
}

.appbar {
  color: aqua !important;
}
.main2 {
  background-color: cornsilk;
}
.about span {
  color: brown;
  font-style: italic;
}
.firstImage:hover {
  transition: 1.5s ease-in-out;
  opacity: 0;
}
.secondImage:hover {
  opacity: 1;
  transition: 1.5s;
}
.skills ul li span {
  color: red;
  font-weight: 700;
}
.skills ul li {
  font-size: larger;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: justify;
}
